@media (min-width: 600px) and (max-width: 959px){
.first{
    margin-top: 100px;
}
.sec{
    height: 270px;
    width: 250px;
} 
}
@media only screen and (max-width: 600px){
 .first{
        margin-top: 100px;
    }
   .sec{
    width: 170px;
    height: 170px;
   } 
    .cart{
        position: absolute;
        /* bottom: 10%; */
    }
    .empty img{
        margin-top: 100px;
        height: 150px;
    }
    .is{
        margin-left: -40px;
        margin-top: 50px;
    }
}
.wishlist-img{
    height: 210px;
}
.wish{
    position: absolute;
    bottom:25%;

}
.sec{
height: 290px;
}