footer{
    height: 150px;
    width: 100%;
    background-color: #393939;
 padding-top: 80px;
}
.twitter{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(0, 171, 240);
    display:flex;
justify-content: center;
align-items: center;
color: white;
}
.payment{
    align-items: center;
    justify-content: center;
    
}
@media only screen and (max-width: 600px){
    footer{
        height: 70px;
        padding-top: 20px;
    }
}